.form-label.heading-medium {
    font-weight: 700;
}

.form-control--full-width {
    width: 100%;
}

.form-date .form-group-day {
	margin:0em 1.6em 0em 0em;
}

.form-date .form-group-month {
	margin:0em 1.6em 0em 0em;
}